{ZL.Source id="文章模型数据源标签"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
{ZL:GetCSS(2,0)/}
<script src="/js/scrolltopcontrol.js"></script>
<script src="/JS/Controls/B_User.js"></script>
</head> 
<body>
{ZL.Label id="全站头部"/}

<div class="container mycontent">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 ">
<div class="myContents">
<div class="myContent_t">{SField sid="文章模型数据源标签" FD="Title" page="0"/}</div>
<div class="abbr">
<span id="CreateTime"><i class="fa fa-clock-o"></i> 发布时间： {ZL:FormatDate({SField sid="文章模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd)/}</span>
<span id="Hits"><i class="fa fa-eye"></i> 浏览次数： <SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></SCRIPT></span>
</div>
<div class="myContent_c">
<div class="myContent_c1">{SField sid="文章模型数据源标签" FD="synopsis" page="0"/}</div>
<div class="myContent_c2">{SField sid="文章模型数据源标签" FD="content" page="0"/}</div>
</div>
<div class="myContent_s">
<div class="bdsharebuttonbox" style="float:right;">
<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
<a href="#" class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a>
<a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
<a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<div class="clearfix"></div>

</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

<div class="news_list">
<div class="home_info_t">热门文章</div>
<ul class="list-unstyled">
{ZL.Label id="输出指定节点标题_带点击v4" NodeID="1" TitleNum="34" ShowNum="10" /}
</ul>
</div>
</div>
</div>
</div><!--主体结束 -->

<div class="message_box container-fluid hidden">
<iframe src="/Guest/Default?CateID=1" frameborder="0" width="100%"  height="420px"></iframe>
</div>

<div class="iframe_comm container" style="margin-top:2em; margin-bottom:4em;">
<iframe id="comm_ifr" scrolling="no" onload="this.height = $(this).contents().height() + 'px';" src="/Comments/CommentFor?ID={SField sid="文章模型数据源标签" FD="GeneralID"/}" width="100%" align="middle" height="100%" frameborder="0"></iframe>
</div>

{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};

//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
var buser = new B_User();
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data)
		$(".user_login").hide();
		$(".user_reg").hide();
		$(".user_cen").html("欢迎您,"+data.UserName+"!");
		$(".user_cen").show();
		$(".user_logout").show();
	}
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
};

/*显示搜索框*/
function isSearch(){
    $(".home_search").show();
    $(".home_navbar").hide();
    $(".home_search .form-control").focus();
}
/*关闭搜索框*/
function isClose(){
    $(".home_search").hide();
    $(".home_navbar").show();
}



 $(".kefu_qrcode img").attr("src","/Common/common.ashx?url="+encodeURI(window.location.href));
 
//手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});


//微信二维码
$(".home_weixin img").hide();
$(".home_weixin a").mouseover(function(){
    $(".home_weixin img").show();
}).mouseout(function(){
    $(".home_weixin img").hide();
});


//$(window).scroll( function(){
//      
//    	if($(window).scrollTop()>20){
//		$("#home_nav").addClass("active")
//          $("#home_nav").css("display","block");
//	}
//    
//	else{
//		$("#home_nav").removeClass("active");
//        $("#home_nav").css("display","");
//	}
//
//});
</script>