{ZL.Source id="文章模型数据源标签"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script src="/JS/Controls/B_User.js"></script>
</head>
<body>
{ZL.Label id="全站头部"/}

<div class="about_banner"></div>

<div class="container" style="margin-top:1em;">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="about_tit">
<ul>
{ZL.Label id="输出指定节点下文章列表" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" /}
</ul>
</div>
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
<h2 hidden>
创建时间：{ZL:FormatDate({SField sid="文章模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd)/}
浏览次数：<SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></SCRIPT>
</h2>
<div class="myContent">
<div class="myContent_c">
{SField sid="文章模型数据源标签" FD="content" page="0"/}
</div>
<div class="myContent_s">
<div class="bdsharebuttonbox bdshare-button-style2-24" style="float:right;" data-bd-bind="1492498916286">
<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
<a href="#" class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a>
<a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
<a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
</div>

{ZL.Label id="全站底部"/}
</body>
</html>



<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};

//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
var buser = new B_User();
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data)
		$(".user_login").hide();
		$(".user_reg").hide();
		$(".user_cen").html("欢迎您,"+data.UserName+"!");
		$(".user_cen").show();
		$(".user_logout").show();
	}
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
};

/*显示搜索框*/
function isSearch(){
    $(".home_search").show();
    $(".home_navbar").hide();
    $(".home_search .form-control").focus();
}
/*关闭搜索框*/
function isClose(){
    $(".home_search").hide();
    $(".home_navbar").show();
}

$(".kefu_qrcode img").attr("src","/Common/common.ashx?url="+encodeURI(window.location.href));
 
//手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});


//微信二维码
$(".home_weixin img").hide();
$(".home_weixin a").mouseover(function(){
    $(".home_weixin img").show();
}).mouseout(function(){
    $(".home_weixin img").hide();
});

$().ready(function(e) {
    $("#gid{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}").addClass("active");
});

</script>