<?xml version="1.0"?>
<WaterModuleConfig>
  <WaterConfig>
    <IsUsed>true</IsUsed>
    <EnableUserWater>false</EnableUserWater>
    <imageWidth>0</imageWidth>
    <imageHeigh>0</imageHeigh>
    <WaterClassType>3</WaterClassType>
    <WaterClass>2</WaterClass>
    <imgLogo>/UploadFiles/Images/SingleF/20170817070101miIw.jpg</imgLogo>
    <imgAlph>40</imgAlph>
    <WaterWord>百业金融培训</WaterWord>
    <WaterWordType>黑体</WaterWordType>
    <WaterWordStyle>1</WaterWordStyle>
    <WaterWordSize>8</WaterWordSize>
    <WaterWordColor>#6BA25E</WaterWordColor>
    <WaterWordAlph>11</WaterWordAlph>
    <lopostion>7</lopostion>
    <loX>200</loX>
    <loY>200</loY>
    <WaterImgs>[{"url":"/UploadFiles/2017081755555.jpg","desc":""}]</WaterImgs>
  </WaterConfig>
</WaterModuleConfig>