{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
{ZL:GetCSS(2,0)/}
<script src="/js/scrolltopcontrol.js"></script>
<script src="/JS/Controls/B_User.js"></script>
<style>
.breadcrumb { margin-bottom:0;}
.home_foot { margin-top:0;}
</style>
 </head>
<body>
{ZL.Label id="全站头部"/}

<div class="video_list_ad">
<div class="container">
<div class="video_list_u">
<ul>
{ZL.Label id="视频列表输出指定节点文章" NodeID="37" ShowNum="10" /}
<div class="clearfix"></div>
</ul>
</div>
<div class="video_list_tit hidden"><span>暑期</span>，让挑战名校的你<span>完美蜕变</span></div>
<div class="video_list_tb hidden">精细课程规划，给你学霸式辅导效果</div>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="video_div">
<div class="video_div_t">第一阶段</div>
<div class="video_div_c1">稳固金融基础知识</div>
<div class="video_div_c2">构建金融基础知识、制定金融营销计划、掌握金融营销技巧、本站包括提供金融资料发放，电子文件和书本。</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="video_div">
<div class="video_div_t">第二阶段</div>
<div class="video_div_c1">强化金融营销知识</div>
<div class="video_div_c2">强化金融营销知识、熟练的运用营销技巧，本站由专业老师在线授课，为你解答金融问题</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="video_div">
<div class="video_div_t">第三阶段</div>
<div class="video_div_c1">在线解答金融问题</div>
<div class="video_div_c2">由专业老师在线为你解答金融营销知识和实际案例，并且为你提供专业的法律咨询</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="video_div">
<div class="video_div_t">金融法律维权</div>
<div class="video_div_c1">包括处理校园贷民间纠纷</div>
<div class="video_div_c2">由本站专业讲师为你解答处理民间纠纷和处理校园贷纠纷，为你提供专业的金融知识和专业的法律咨询和援助。</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="video_div">
<div class="video_div_t">民间金融技术解析</div>
<div class="video_div_c1">解析民间金融技术</div>
<div class="video_div_c2">由本站专业讲师为你解析民间金融技术，提高高级实战技巧。</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="video_div">
<div class="video_div_t">构思金融营销方案</div>
<div class="video_div_c1">构思金融营销方案</div>
<div class="video_div_c2"><a href="#" class="btn btn-info btn-block"> 咨询详情 </a></div>
</div>
</div>
</div>
</div>
</div>
<!--广告结束-->

<div class="video_pen">
<div class="container">
<div class="video_pen_t">银行类贷款解析</div>
<div class="row padding10">
{ZL.Label id="输出指定节点视频列表" NodeID="14" ShowNum="3" /}
</div>
<a href="{ZL:GetNodeLinkUrl(14)/}" class="video_more">查看更多 <i class="fa fa-plus"></i></a>
</div>
<div class="container">
<div class="video_pen_t">民间各类贷款技术</div>
<div class="row padding10">
{ZL.Label id="输出指定节点视频列表" NodeID="23" ShowNum="3" /}
</div>
<a href="{ZL:GetNodeLinkUrl(23)/}" class="video_more">查看更多 <i class="fa fa-plus"></i></a>
</div>
<div class="container">
<div class="video_pen_t">校园贷法律维权</div>
<div class="row padding10">
{ZL.Label id="输出指定节点视频列表" NodeID="36" ShowNum="3" /}
</div>
<a href="{ZL:GetNodeLinkUrl(36)/}" class="video_more">查看更多 <i class="fa fa-plus"></i></a>
</div>
<div class="container">
<div class="video_pen_t">信用卡技术解析</div>
<div class="row padding10">
{ZL.Label id="输出指定节点视频列表" NodeID="20" ShowNum="3" /}
</div>
<a href="{ZL:GetNodeLinkUrl(20)/}" class="video_more">查看更多 <i class="fa fa-plus"></i></a>
</div>
<div class="container">
<div class="video_pen_t">金融法律维权解析</div>
<div class="row padding10">
{ZL.Label id="输出指定节点视频列表" NodeID="21" ShowNum="3" /}
</div>
<a href="{ZL:GetNodeLinkUrl(21)/}" class="video_more">查看更多 <i class="fa fa-plus"></i></a>
</div>
<div class="container">
<div class="video_pen_t">金融行业技术解析</div>
<div class="row padding10">
{ZL.Label id="输出指定节点视频列表" NodeID="22" ShowNum="3" /}
</div>
<a href="{ZL:GetNodeLinkUrl(22)/}" class="video_more">查看更多 <i class="fa fa-plus"></i></a>
</div>
</div>



{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};

//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
var buser = new B_User();
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data)
		$(".user_login").hide();
		$(".user_reg").hide();
		$(".user_cen").html("欢迎您,"+data.UserName+"!");
        $(".home_user_login>a:nth-child(1)").hide();
        $(".home_user_login p:nth-child(2)").hide();
        $(".home_user_login p:nth-child(3) a").html("欢迎您,"+data.UserName+"!");
		$(".user_cen").show();
		$(".user_logout").show();
	}
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
};

/*显示搜索框*/
function isSearch(){
    $(".home_search").show();
    $(".home_navbar").hide();
    $(".home_search .form-control").focus();
}
/*关闭搜索框*/
function isClose(){
    $(".home_search").hide();
    $(".home_navbar").show();
}


 $(".kefu_qrcode img").attr("src","/Common/common.ashx?url="+encodeURI(window.location.href));
 
//手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});

//微信二维码
$(".home_weixin img").hide();
$(".home_weixin a").mouseover(function(){
    $(".home_weixin img").show();
}).mouseout(function(){
    $(".home_weixin img").hide();
});
</script>