{ZL.Source id="店铺模型数据源标签"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="店铺模型数据源标签" FD="StoreName" page="0"/}</title>
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="{$CssDir/}js/server.js"></script>
<script src="/js/scrolltopcontrol.js"></script>
<style>
.bs-header { margin-top:0;}
</style>
</head>
<body>
<div class="container myTop">
<div class="row">
<div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
<div id="logo"><a href="/" target="_blank"><img src="{$LogoUrl/}" alt="{$SiteName/}" /></a></div>
</div>
<div class="col-lg-7 col-md-3 col-sm-3 col-xs-12">
<div id="TopNavBar">
<ul>
<li class="set_home"><a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$SiteURL/}');" href="#">设为首页</a></li>
<li class="havior"><a href="javascript:window.external.addFavorite('{$SiteURL/}','{$SiteName/}');">加入收藏</a></li>
<li class="non"><a href="/user/">登录</a></li>
<li class="non"><a href="/user/Register">注册</a></li> 
<li class="non">{ZL:Big5()/}</li> 
</ul>
</div>
<form action="/search/SearchList" method="get" >
<div class="pull-right searchtxt">
<div class="input-group pull-right" style="width:200px;">
<input name="keyword" type="text" id="TxtKeyword" class="form-control" placeholder="全站搜索" style="width:150px;" />
<span class="input-group-btn">
<input type="submit" name="Button1" value="搜索" id="Button1" class="btn btn-default" />
</span>
</div>
</div>
</form>
</div>
</div>
</div>

<div class="relative">
<nav class="navbar navbar-default usershop_nav" role="navigation" id="usershop_nav">
<div class="container padding0_lg">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">智能切换导航</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand visible-xs" href="/Store/StoreIndex?id={SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}">{SField sid="店铺模型数据源标签" FD="StoreName" page="0"/}</a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="/Store/StoreIndex?id={SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}">店铺首页</a></li>
<li><a href="{ZL:GetNodeLinkUrl(128)/}?id={SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}">公司介绍</a></li>
<li><a href="{ZL:GetNodeLinkUrl(124)/}?id={SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}">店铺公告</a></li>
<li><a href="/Store/StoreList?NodeID=3&id={SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}">店铺商品</a></li>
<li><a href="{ZL:GetNodeLinkUrl(125)/}?id={SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}">促销信息</a></li>
<li><a href="{ZL:GetNodeLinkUrl(127)/}?id={SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}">人才招聘</a></li>
</ul>
</div>
</div>
</nav>
</div>
<!-- 导航到此结束 -->
<div class="bs-header">
<div class="container">
<h1>网店频道</h1>
<p>脚比路更长+服务到现场+智慧的思想....</p>
</div>
</div>
<div class="container">
<div class="row">
<div  class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="list-group margintop10 padding0">
<a href="#" class="list-group-item active">店铺信息</a>
<a href="/Store/StoreIndex?id={SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}"  class="list-group-item"><img src="{ZL:GetPicUrl({SField sid="店铺模型数据源标签" FD="logo" page="0"/})/}" style="width:100%;"></a>
<a href="/Store/StoreIndex?id={SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}"  class="list-group-item">{SField sid="店铺模型数据源标签" FD="StoreName" page="0"/}</a>
<a href="#" class="list-group-item">联系人：{SField sid="店铺模型数据源标签" FD="lxr" page="0"/}</a>
<a href="#" class="list-group-item">联系方式：{SField sid="店铺模型数据源标签" FD="tel" page="0"/}</a> 
<a href="#" class="list-group-item">所在城市：{SField sid="店铺模型数据源标签" FD="area" page="0"/}</a> 
<a href="#" class="list-group-item">店铺地址：{SField sid="店铺模型数据源标签" FD="addr" page="0"/}</a>
<div class="clearfix"></div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{ZL.Label id="循环输出店铺节点列表" NodeID="3" UserShopID="{SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}" /}
</div>

</div><!--左 -->

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="panel panel-primary margintop10">
<div class="panel-heading">店铺简介</div>
<div class="panel-body">
{SField sid="店铺模型数据源标签" FD="content" page="0"/}
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="panel panel-primary margintop10">
<div class="panel-heading">店铺公告<span class="badge pull-right"><a href="{ZL:GetNodeLinkUrl(124)/}">更多</a></span></div>
<ul class="list-group">
{ZL.Label id="输出指定节点标题_带时间属性v4" NodeID="124" TitleNum="36" ShowNum="10" /}
</ul>
</div>
</div>
</div>
<div class="panel panel-primary margintop10">
<div class="panel-heading">店铺商品<span class="badge pull-right"><a href="{ZL:GetNodeLinkUrl(3)/}">更多</a></span></div>
<div class="panel-body">
<div class="row">
<div class="shop_img">
<ul class="list-unstyled">
{ZL.Label id="店铺商品列表" TitleNum="25" ShowNum="20" UserShopID="{SField sid="店铺模型数据源标签" FD="GeneralID" page="0"/}" ClassName="col-lg-3 col-md-3 col-sm-3 col-xs-6" NodeID="3" /}
</ul>
</div>
</div>
</div>
</div>


</div>
</div>
</div>


{ZL.Label id="响应式全站底部"/}
</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('usershop_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
 //]]>

//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

$().ready(function(e) {
    $("#accordion .panel:nth-child(1) .panel-collapse").addClass("in");
});
</script>